{deps, [
    {rdp_proto, ".*", {git, "git://github.com/eait-itig/rdp_proto.git", {branch, "master"}}}
]}.
{escript_name, "check_rdp"}.
{escript_emu_args, "%%! -smp disable -kernel error_logger silent\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_incl_apps, [rdp_proto]}.
{sub_dirs, []}.
{edoc_opts, [{preprocess, true}]}.
